html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Globalne style tekstu */
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #7F8C8D;
	line-height: 1.7;
}

p {
	margin-top: 6px;
}

h2, h3, h4, label {
	color: #45474F;
}

h1 {
	font-size: 54px;
	line-height: 1.2;
}

h2 {
	font-size: 25px;
	margin-bottom: 48px;
	text-transform: uppercase;
}

h1, h3, h4, strong {
	font-weight: 600;
}

h3 {
	font-size: 18px;
}

/* Kolumny, kontener, sekcje */
.col-one-third {
	width: 33.3333%;
	float: left;
}

.col-half {
	width: 50%;
	float: left;
}

.col-one-third, .col-half {
	width: 100%;
	float: none;
}

@media screen and (min-width: 756px) {
	.col-one-third {
		width: 33.3333%;
		float: left;
	}
	.col-half {
		width: 50%;
		float: left;
	}
}

section {
	clear: both;
	padding: 90px 0;
	overflow: auto;
}

.container {
	max-width: 1040px;
	margin: 0 auto;
}

.center-text {
	text-align: center;
}

/* Przyciski */
.button {
	display: inline-block;
	padding: 8px 25px;
	margin: 16px 0;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
}

.button-light {
	background: #FFFFFF;
	color: #000000;
}

.button-light:hover {
	background: #A1D76F;
	font-weight: bold;
	box-shadow: 0 0 4px #fff;
}

.button-dark {
	background: #A1D76F;
	color: #FFFFFF;
}

.button-dark:hover {
	background: rgb(101, 247, 3);
	color: #000000;
	box-shadow: 0 0 4px #000;
}

/* Naglowek strony */
.top {
	height: 60px;
	background: #34495E;
}

.top a {
	color: #FFFFFF;
	text-decoration: none;
}

.logo {
	float: left;
	font-weight: 600;
	font-size: 22px;
	line-height: 60px;
	padding-left: 20px;
}

.main-menu {
	float: right;
}

.main-menu li {
	float: left;
	line-height: 60px;
	padding: 0 10px;
}

/* Baner */
.banner {
	color: #FFFFFF;
	background: #000000;
	padding: 200px 0;
	background: url("https://images.pexels.com/photos/2403392/pexels-photo-2403392.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
}

.banner h1 {
	margin-bottom: 30px;
	text-shadow: 0 0 4px #000;
}

/* Sekcja Intro */
.intro_item {
	margin-bottom: 50px;
}

.intro .food, .intro .chef, .intro .party {
	width: 220px;
	height: 220px;
	margin: 0 auto;
	margin-bottom: 32px;
}

.intro .food {
	background: url("https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-size: cover;
	background-position: center;
}

.intro .chef {
	background: url("https://images.pexels.com/photos/2544830/pexels-photo-2544830.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-size: cover;
	background-position: center;
}

.intro .party {
	background: url("https://images.pexels.com/photos/5929/food-salad-dinner-eating.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-size: cover;
	background-position: center;
}

.intro_item p {
	padding: 0 20px;
}

.intro h3 {
	color: #A1D76F;
	margin-bottom: 10px;
}

/* Sekcja Promocje */
.promo {
	background: #D15555;
	text-align: center;
}

.promo h2 {
	color: #FFFFFF;
	margin-bottom: 10px;
}

.promo p {
	color: #EEEEEE;
}

.promo_img {
	display: inline-block;
	width: 80%;
	height: 200px;
	background: url("https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-size: cover;
	background-position: center;
} 

/* Sekcja Kontakt */
.contact {
	text-align: center;
}
.contact input {
	margin-bottom: 16px;
	border-radius: 2px;
	border: 1px solid #DDDDDD;
	padding: 8px;
	width: 80%;
}

.contact .col-half {
	margin-top: 16px;
}

.map {
	display: inline-block;
	width: 80%;
	height: 200px;
	background: url('https://images.pexels.com/photos/408503/pexels-photo-408503.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-size: cover;
	background-position: center; 
}

/* Stopka */
.site-footer {
	background: #000000;
	color: #FFFFFF;
	padding: 16px 0;
	text-align: center;
}
